*{
    padding: 0;
    margin: 0;
}


header{
    height: 500px;
    background-image: url('/img/back.jpg');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: 10%;
    font-size: 50px;
    color: white;
}
.top-panel{
    height: 80px;
    width: 800px;
    margin: 0 auto;
    font-size: 20px;
    display: flex;
    gap: 40px;
    padding-top: 40px;
    flex-wrap: wrap;
}
.top-panel p{
    display: inline;
    
}
.top-panel li{
    list-style: none;
    display: inline;
    justify-content: space-between;
}
.top-panel a{
    text-decoration: none;
    color: white;
}
#logo{
}